[project]
name = "{{.ProjectName}}"
version = "0.1.0"
engine = "0.1.0"

[window]
title = "{{.ProjectName}}"
width = 1280
height = 720
vsync = true

[cef]
start_url = "assets/scene.html"
skip_default_font = true

[build]
backend = "auto"
