{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Launch (Debug)",
      "type": "cppvsdbg",
      "request": "launch",
      "program": "${workspaceFolder}/build/{{.ProjectName}}.exe",
      "args": [],
      "stopAtEntry": false,
      "cwd": "${workspaceFolder}",
      "preLaunchTask": "mitiru build",
      "console": "integratedTerminal"
    }
  ]
}
